In [1]:
import pandas as pd

In [50]:
df = pd.read_csv(r"C:\Users\chhat\Computer_Code\Dummy_Data\alarms_data.csv")

In [51]:
df

,Date,Batch_No.,Alarm_Description,Alarm_Category
0,2023-12-09,1236,Unit exactly plant work religious ago tree.,Product Impacting
1,2024-05-31,8578,Television hand by modern because second notice.,Product Impacting
2,2024-08-01,3956,Admit president than education away one rule p...,Low Impacting
3,2023-09-14,9589,Figure person pull book machine admit them.,Non-Impacting
4,2024-05-06,4665,Would teacher enough.,Non-Impacting
...,...,...,...,...
9995,2023-10-12,7299,Field international wear source same trade.,Low Impacting
9996,2023-12-01,9393,Again owner through.,Product Impacting
9997,2023-12-29,6170,Door evening rock sense store happen career.,Non-Impacting
9998,2023-12-19,4506,Kind here try usually seek memory.,Low Impacting
9999,2024-06-22,1016,Eye husband traditional.,Low Impacting

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Batch_No.          10000 non-null  int64
 2   Alarm_Description  10000 non-null  object
 3   Alarm_Category     10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [53]:
df['Date']=pd.to_datetime(df['Date'], errors= 'coerce')

In [54]:
df

,Date,Batch_No.,Alarm_Description,Alarm_Category
0,2023-12-09,1236,Unit exactly plant work religious ago tree.,Product Impacting
1,2024-05-31,8578,Television hand by modern because second notice.,Product Impacting
2,2024-08-01,3956,Admit president than education away one rule p...,Low Impacting
3,2023-09-14,9589,Figure person pull book machine admit them.,Non-Impacting
4,2024-05-06,4665,Would teacher enough.,Non-Impacting
...,...,...,...,...
9995,2023-10-12,7299,Field international wear source same trade.,Low Impacting
9996,2023-12-01,9393,Again owner through.,Product Impacting
9997,2023-12-29,6170,Door evening rock sense store happen career.,Non-Impacting
9998,2023-12-19,4506,Kind here try usually seek memory.,Low Impacting
9999,2024-06-22,1016,Eye husband traditional.,Low Impacting

In [55]:
df.isnull().sum()

Date                 0
Batch_No.            0
Alarm_Description    0
Alarm_Category       0
dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  datetime64[ns]
 1   Batch_No.          10000 non-null  int64
 2   Alarm_Description  10000 non-null  object
 3   Alarm_Category     10000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 312.6+ KB